.padded-img {
    padding-top: 20px;
}

ul {
    font-size: 10px;
    margin-bottom: 8px;
}

.btn-text {
    font-size: 12px;
    padding: 6px 0;
    text-align: left;
}

.med-text{
    font-size: 12px;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.title-emph{
    font-style: italic;
}

.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div .auth_email_group {
    padding-bottom: 5px;
}

#spin-greybox {
    background: #888;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 999;
    visibility: hidden;
}

/* CSS animations are recommended by chrome. this is from http://tobiasahlin.com/spinkit/ */
.spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}